:root {
    --14-px-medium-avenir-next-font-family: "Avenir Next", Helvetica;
    --14-px-medium-avenir-next-font-size: 14px;
    --14-px-medium-avenir-next-font-style: normal;
    --14-px-medium-avenir-next-font-weight: 500;
    --14-px-medium-avenir-next-letter-spacing: 0px;
    --14-px-medium-avenir-next-line-height: 21px;
    --android-body-1-font-family: "Roboto", Helvetica;
    --android-body-1-font-size: 17px;
    --android-body-1-font-style: normal;
    --android-body-1-font-weight: 400;
    --android-body-1-letter-spacing: 0px;
    --android-body-1-line-height: normal;
    --android-body-3-font-family: "Roboto", Helvetica;
    --android-body-3-font-size: 14px;
    --android-body-3-font-style: normal;
    --android-body-3-font-weight: 400;
    --android-body-3-letter-spacing: 0px;
    --android-body-3-line-height: normal;
    --android-subtitle-2-font-family: "Roboto", Helvetica;
    --android-subtitle-2-font-size: 14px;
    --android-subtitle-2-font-style: normal;
    --android-subtitle-2-font-weight: 700;
    --android-subtitle-2-letter-spacing: 0px;
    --android-subtitle-2-line-height: normal;
    --blueheader: rgba(50, 97, 141, 1);
    --depth-component-button: 0px 2px 4px 0px rgba(17, 18, 20, 0.12);
    --depth-component-focus-default: 0px 0px 4px 1px rgba(16, 100, 188, 1);
    --depth-component-modal: 0px 2px 12px 0px rgba(17, 18, 20, 0.12);
    --depth-surface-card: 0px 2px 4px 0px rgba(17, 18, 20, 0.12);
    --emphasisdisabled: rgba(17, 18, 20, 0.24);
    --emphasishigh-emphasis: rgba(17, 18, 20, 0.8);
    --global-surface-body-bold-font-family: "SHBGrotesk", Helvetica;
    --global-surface-body-bold-font-size: 14px;
    --global-surface-body-bold-font-style: normal;
    --global-surface-body-bold-font-weight: 700;
    --global-surface-body-bold-letter-spacing: 0px;
    --global-surface-body-bold-line-height: normal;
    --global-surface-body-font-family: "SHBGrotesk", Helvetica;
    --global-surface-body-font-size: 14px;
    --global-surface-body-font-style: normal;
    --global-surface-body-font-weight: 400;
    --global-surface-body-lead-bold-font-family: "SHBGrotesk", Helvetica;
    --global-surface-body-lead-bold-font-size: 16px;
    --global-surface-body-lead-bold-font-style: normal;
    --global-surface-body-lead-bold-font-weight: 700;
    --global-surface-body-lead-bold-letter-spacing: 0px;
    --global-surface-body-lead-bold-line-height: normal;
    --global-surface-body-letter-spacing: 0px;
    --global-surface-body-line-height: normal;
    --global-surface-body-small-bold-font-family: "SHBGrotesk", Helvetica;
    --global-surface-body-small-bold-font-size: 12px;
    --global-surface-body-small-bold-font-style: normal;
    --global-surface-body-small-bold-font-weight: 700;
    --global-surface-body-small-bold-letter-spacing: 0px;
    --global-surface-body-small-bold-line-height: 16px;
    --global-surface-body-small-font-family: "SHBGrotesk", Helvetica;
    --global-surface-body-small-font-size: 12px;
    --global-surface-body-small-font-style: normal;
    --global-surface-body-small-font-weight: 400;
    --global-surface-body-small-letter-spacing: 0px;
    --global-surface-body-small-line-height: 16px;
    --globalblack: rgba(0, 0, 0, 1);
    --globalinfolight: rgba(51, 169, 255, 1);
    --gray-100: rgba(241, 245, 249, 1);
    --gray-300: rgba(203, 213, 225, 1);
    --gray-50: rgba(248, 250, 252, 1);
    --ios-subtitle-2-font-family: "SF Pro Display", Helvetica;
    --ios-subtitle-2-font-size: 14px;
    --ios-subtitle-2-font-style: normal;
    --ios-subtitle-2-font-weight: 700;
    --ios-subtitle-2-letter-spacing: 0px;
    --ios-subtitle-2-line-height: normal;
    --opacityblack-12: rgba(17, 18, 20, 0.12);
    --opacityblack-24: rgba(17, 18, 20, 0.24);
    --primitive-depht-3: 0px 0px 12px 0px rgba(17, 18, 20, 0.12);
    --primitive-depth-2: 0px 0px 4px 0px rgba(17, 18, 20, 0.12);
    --primitive-depth-3a: 0px 2px 12px 0px rgba(17, 18, 20, 0.12);
    --primitive-s-grey-800: rgba(34, 37, 40, 1);
    --primitive-s-orange-100: rgba(255, 228, 209, 1);
    --primitive-s-sahibinden-50: rgba(255, 253, 230, 1);
    --primitive-s-turquoise-100: rgba(204, 234, 255, 1);
    --s-web-oldblue438ed8: rgba(67, 142, 216, 1);
    --sahibindenindependence: rgba(63, 71, 95, 1);
    --sahibindenmiddle-yellow: rgba(255, 232, 0, 1);
    --shbbluedark: rgba(16, 100, 188, 1);
    --shbbluelight: rgba(39, 156, 255, 1);
    --shbgraydarkest: rgba(69, 69, 69, 1);
    --shbgraylightest: rgba(242, 242, 242, 1);
    --shbgrayregular: rgba(153, 153, 153, 1);
    --shbotherwhite: rgba(255, 255, 255, 1);
    --surfacelevel-1: rgba(255, 255, 255, 1);
    --textdark: rgba(51, 51, 51, 1);
    --textlight: rgba(153, 153, 153, 1);
    --whitewhite: rgba(255, 255, 255, 1);
  }